body, html {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222;
}

#order_wrapper {
    width: 30em;
    background-color: green;
    height: 30em;
}

.products {
    width: 30em;
    min-height: 20em;
    /*margin: 0 19px 0 0;*/
    padding: 1em;
    float: left;
    border: 1px solid #dddddd;
    background: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    height: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.product_name {
    display: inline-block;
    width: 10.5em;
    font-size: 1.3em;
    text-align: center;
}

.product_price_block {
    display: inline-block;
    width: 10.5em;
}

.product_image {
    height: 95%;
    float: left;
}

.product_price {
    float: left;
    color: #d80014;
    font-family: 'TimesBold';
    font-weight: 700;
    font-size: 3.5em;
}

/*.source, .destination {*/
.source  {
    cursor: pointer;
    border: 1px solid #eee;
    width: 100%;
    min-height: 20em;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

/*.source li, .destination li {*/
.source li {
    margin: 0 5px 5px 5px;
    font-size: 1.2em;
    /*width: 120px;*/
    height: 8em;
    padding: .5em;
    overflow: hidden;
}

.destination {
    border: 1px solid #eee;
    min-height: 20em;
    width: 0;
    /*float: right;*/
    background-color: red;
    list-style-type: none;
    float: right;
}

.ruble_sign {
    height: 3em;
    /*position: absolute;*/
}

.item-info {
    /*position: relative;
    top: 0;
    left: 0;*/
    overflow: hidden;
}

/*.price-value {
    height: 3em;
    margin: 0 0.5em 0 0;
    padding: 0 18px 0 0;
    float: left;
    font-family: 'TimesBold';
    font-size: 24px;
    color: #d80014;
    background: url('../ruble.png') right bottom no-repeat;
}*/

