* {
    outline: none;
}

html, body {
    width: 100%;
}

.wrapper {
    width: 100%;
    margin: 3em auto;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #787878;
}

.wrapper {
    text-align: center;
}

.wrapper .products {
    text-align: left;
}

.products {
    display: inline-block;
}

.products .source {
    width: 300px;
    min-height: 400px;
    margin: 0 19px 0 0;
    padding: 18px;
    float: left;
    border: 1px solid #dddddd;
    background: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    height: 400px;
    overflow-y: scroll;
}

.products .destination {
    width: 300px;
    min-height: 400px;
    margin: 0;
    padding: 18px;
    float: left;
    border: 1px solid #dddddd;
    background: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/*
div.products div.products {
    width: 254px;
    height: 64px;
    margin: 0 0 14px 0;
    padding: 8px;
    display: block;
    float: left;
    background: #fff;
    border: 1px solid #dddddd;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 2px 10px -3px #CACACA;
    box-shadow: 1px 2px 10px -3px #CACACA;
}
*/

.product {
    width: 254px;
    height: 64px;
    margin: 0 0 14px 0;
    padding: 8px;
    display: block;
    float: left;
    background: #fff;
    border: 1px solid #dddddd;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 2px 10px -3px #CACACA;
    box-shadow: 1px 2px 10px -3px #CACACA;
}

.product .product_image {
    width: 69px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.source  {
    cursor: pointer;
    border: 1px solid #eee;
    width: 100%;
    min-height: 20em;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.source li {
    margin: 0 5px 5px 5px;
    font-size: 1.2em;
    padding: .5em;
    overflow: hidden;
}

.ruble_sign {
    height: 1em;
}

.item-info {
    overflow: hidden;
}

.product_price {
    float: left;
    color: #d80014;
    font-family: 'TimesBold';
    font-weight: 700;
    font-size: 1.5em;
}
